body{
    margin: 0%
}

.navbar{
    background-color:black ;
    color: white;
    padding: 20px;
}

li{
    display: inline-block;
    padding-right: 5vw;
}

.banner{
    background-image: url(img/neymar_aug_2017_ap9.webp);
    height: 800px;
}

.content{
    padding: 50px;
}

.galeria{
    padding: 50px;
}
.galeria img{
    height: 470px;
}

.footer{
    background-color: blue;
    color: white;
    padding: 50px;
}
@media only screen and (max-width: 700px){

    body{
        font-size: 35px;
    }   

.navbar{
    text-align: center;
}


    .content{
    padding: 10px;
}

.galeria{
    padding: 10px;
}

 .galeria img{
    width: 100%;
    height: auto;
 }
}